port: 7880
rtc:
  tcp_port: 7881
  port_range_start: 50000
  port_range_end: 60000
  use_external_ip: true

keys:
  ${LIVEKIT_API_KEY}: ${LIVEKIT_API_SECRET}

tls:
  cert_file: /etc/letsencrypt/live/${OFFICE_DOMAIN}/fullchain.pem
  key_file: /etc/letsencrypt/live/${OFFICE_DOMAIN}/privkey.pem

logging:
  level: info
